<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
</head>
<body>
<p>
    <a href="/">На главную</a>
</p>
<p>
    <a href="/band">Добавить группу</a>
</p>
<table>
    <tr>
        <td>id</td>
        <td>Имя</td>
        <td>Год создания</td>
        <td></td>
        <td></td>
    </tr>
    {% for band in bands %}
        <tr>
            <td>{{ band.id }}</td>
            <td>{{ band.bandname }}</td>
            <td>{{ band.yearoffoundation }}</td>
            <td><a href="/band/{{ band.id }}">посмотреть</a></td>
            <td><a href="/band/{{ band.id }}/participants">(посмотреть участников)</a></td>
            <td><a href="/albums/{{ band.id_performer }}/">(посмотреть альбомы)</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>