<html>
<head>
    <title>Musician</title>
</head>
<body>
<a href="/musicians">< Список музыкантов</a>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.firstname.label }}<br>
        {{ form.firstname(size=32) }}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(size=32) }}
    </p>
    <p>
        {{ form.specialization.label }}<br>
        {{ form.specialization() }}
    </p>
    <p>{{ form.submit() }}</p>
        {% if id %}
            <a href="/musician/{{ id }}/delete">Удалить</a>
        {% endif %}
</form>
</body>
</html>