<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Участники группы</title>
</head>
<body>
<a href="/bands">< Список групп</a>
<h2>{{ name }}</h2>
<table>
    {% for musician in band_musicians %}
        <tr>
            <td>{{ musician.surname }} {{ musician.firstname }}</td>
            <td>{{ musician.specialization }}</td>
            <td><a href="">удалить</a></td>
        </tr>
    {% endfor %}
</table>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.submit() }}</p>
    <p>
        {{ form.musicians.label }}<br>
        {{ form.musicians() }}
    </p>
</form>
<div>

</div>
</body>
</html>