<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Песни</title>
</head>
<body>
<p>
    <a href="/">На главную</a>/<a href="/bands">Группы</a>/<a href="/band/ {{ id_performer }}">{{ name_performer }}</a>/<a
        href="/albums/{{ id_performer }}">Альбомы</a>/<a
        href="/album/{{ id_album }}/performer/{{ id_performer }}">{{ name_album }}</a>
</p>
<p>
    <a href="/song/{{ id_album }}/album">Добавить песню</a>
</p>
<table>
    <tr>
        <td>id</td>
        <td>Название песни</td>
    </tr>
    {% for song in songs %}
        <tr>
            <td>{{ song.id }}</td>
            <td>{{ song.songname }}</td>
            <td><a href="/song/{{ song.id }}/album/{{ id_album }}">посмотреть</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>